* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(150deg, #e0beed, #65b185);
}

.card {
    margin: auto;
    margin-top: 3rem;
    background: linear-gradient(150deg, #e0beed, #65b185);
}

#formlogin {
    display: block;
}

#formsorteo {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modalContainer {
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.modalTitle {
    font-size: 2.5rem;
}

.modalGanador {
    margin-bottom: 10px;
}

.modalImg {
    width: 90%;
    max-width: 300px;
}

.modalClose {
    text-decoration: none;
    color: #ffffff;
    background-color: #e0beed;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modalClose:hover {
    color: #65b185;
    background-color: aqua;
}

.modal--show {
    display: none;
    opacity: 1;
    pointer-events: unset;
}